/*.z-index-1{
    position: absolute;
    height: 300px;
    width:800px;
    background-color: aquamarine;
    z-index: -2;
}
.z-index-2{
    position: absolute;
    height: 500px;
    width: 600px;
    background-color: coral;
    z-index: -1;
}*/
/*img{
    float: left,right,none;
}*/
/*.clear-1{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    clear: left;
    float: left;
}
.clear-2{
    height: 100px;
    width: 100px;
    background-color: red;
    float: right;
    clear: none;
}
.clear-3{
    height: 100px;
    width: 100px;
    background-color: blue;
    float: right;
    clear: both;
}*/
/*.box-1{
    height: 300px;
    width: 300px;
    background-color: yellow;
    overflow-wrap: scroll;
}
.box-2{
    height: 400px;
    width: 400px;
    overflow: scroll;
}*/
.box-3{
    height: 200px;
    width: 200px;
}
.box-3 img{
    height: 200px;
    width: 200px;
    object-fit: scale-down;
}
.alias{cursor: alias;}
.all-scroll{cursor: all-scroll;}
.auto{cursor: auto;}
.cell{cursor: cell;}
.context-menu{cursor: context-menu;}
.col-resize{cursor: col-resize;}
.copy{cursor: copy;}
.crosshair{cursor: crosshair;}
.default{cursor: default;}
.ew-resize{cursor: ew-resize;}
.e-resize{cursor: e-resize;}
.grab{cursor: grab;}
.grabbing {cursor: grabbing;}
.help { cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize { cursor: ne-resize;}
.nesw-resize { cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize { cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur), auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}