@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto:ital,wght@1,700&display=swap');
.pre{
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.box{
    height: 700px;
    width: 800px;
    background-color: yellowgreen;
    display: flex;
}
.box div{
    flex:3 50px;
}
.box-1{
    height: 80px;
    width: 80px;
    background-color: yellow;
}
.box-2{
    height: 80px;
    width: 80px;
    background-color: purple;
}
.box-3{
    height: 80px;
    width: 80px;
    background-color: peru;
}
.box-4{
    height: 80px;
    width: 80px;
    background-color: cadetblue;
}