.col-12{
    height: 60px;
    text-align: center;
    background-color: aqua;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 500;
}
.col-6{
    height: 60px;
    text-align: center;
    background-color: aqua;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 500;
}
.col-4{
    height: 60px;
    text-align: center;
    background-color: aqua;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 500;
}
.col-8{
    height: 60px;
    text-align: center;
    background-color: aqua;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 500;
}
.col-3{
    height: 60px;
    text-align: center;
    background-color: aqua;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 500;
}
.col-2{
    height: 60px;
    text-align: center;
    background-color: aqua;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 500;
}
.col-1{
    height: 60px;
    text-align: center;
    background-color: aqua;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 500;
}