.pagination {
    height: 50px;
    width: 300px;
    
    display: flex;
    overflow: hidden;
}

.page-1 {
    background-color: brown;
    width: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    margin-right: 10px;
}

.page-1 a {
    text-decoration: none;
    color: white;
}