*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}
.hand{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hand .hand-1{
    position: relative;
    height: 500px;
    width: 500px;
    background: url(images/hand_02.png);
    background-size: 500px;
}
.hand .hand-1::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/hand_01.png);
    background-size: 500px;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    
}
.hand .hand-1::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #3fefef;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #3fefef)drop-shadow(0 0 60px #3fefef);
    animation: animate-1 4s ease-in-out infinite;
}
@keyframes animate-1{
    0%,100%{
        top: 0%;
    }
    50%{
        top: 100%;
    }
}
.hand h3{
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #3fefef;
    filter: drop-shadow(0 0 20px #3fefef)drop-shadow(0 0 60px #3fefef);
    animation: animate-2 0.5s steps(1) infinite;
}
@keyframes animate-2{
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
.hand .hand-1 .hand-2{
    position: absolute;
    inset: 0;
}
.hand .hand-1 .hand-2::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: url(images/lines.png);
    background-size: 500px;
    animation: ani3 4s ease-in-out infinite;
}
@keyframes ani3{
    0%,25%,100%{
       height: 0;
    }
    50%{
        height:100%;
    }
}
.hand .hand-1 .hand-2::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: url(images/points.png);
    background-size: 500px;
    animation: ani4 4s ease-in-out infinite;
}
@keyframes ani4{
    0%,100%{
       height: 0;
    }
    50%{
        height:100%;
    }
}
