
@import './varibles';


.container{
    display: $display;
}

.box-1{
    height: $h-3;
    width: $w-3;
    border:$boder-1 solid $boder-colour;
    margin-left: $m-4;
    margin-top: $m-2;
    padding: $p-1;
}
.box-2{
    height: $h-3;
    width: $w-3;
    background-color: $bg-1;
    margin-right: $m-3;
    margin-top: $m-2;
    padding: $p-1;
}
.box-3{
    height: $h-3;
    width: $w-3;
    border:$boder-1 solid $boder-colour;
    margin-right: $m-3;
    margin-top: $m-2;
    padding: $p-1;
}
img{
    height: $h-1;
    margin-left: $m-5;
    margin-top: $m-6;
}
h1{
    text-align: $text-align;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.box-1 p{
    text-align: $text-align;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-size;
    line-height: $line;
}
.box-2 h1{
    color: $text-colour;
}
.box-2 p{
    color: $text-colour;
}
button{
    width: $w-2;
    padding: $p-1;
    border-radius: $boder-radius;
    border: $boder-2;
    color: $text-colour;
    background-color: $bg-2;
    margin-left: $m-6;
}

.box-2 button{
    width: $w-2;
    padding: $p-1;
    border-radius: $boder-radius;
    border: $boder-2;
    color: $text-colour-1;
    background-color: $bg-3;
    margin-left: $m-6;
}